<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма для обратной связи </title>
</head>
<body>
    <h1>Форма для обратной связи</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="message">Сообщение:</label><br>
        <textarea id="message" name="message" rows="5" required></textarea><br><br>

        <label for="file">Файл (обязательно):</label><br>
        <input type="file" id="file" name="file"><br><br>

        <button type="submit">Отправить заявку</button>
    </form>
</body>
</html>